<body>
<div class="dashboard-container">  
  <div *ngIf="role === 'admin'">
    <h1>Bienvenue, vous êtes connecté en tant <span> qu'Admin</span> .</h1>
  </div>

  <div *ngIf="role === 'user'">
    <h1>Bienvenue, vous êtes connecté en tant<span> qu'Utilisateur</span> .</h1>
  </div>

  <div *ngIf="role === null">
    <h1>Aucun rôle trouvé. Veuillez vous connecter.</h1>
  </div>
</div>

<h2>Liste des annonces</h2>
<ul>
  <li *ngFor="let annonce of annonces">
    {{ annonce.title }}
    <button (click)="goToDetails(annonce.id)">Détails</button>
    <button (click)="goToEdit(annonce.id)">Modifier</button>
    <button *ngIf="role === 'admin'" (click)="deleteAnnonce(annonce.id)">Supprimer</button>
  </li>
</ul>
</body>

  